 body{
  height: 2000px;
}


.navbar {
  width: 100%;
  background: #FEBA27;
}


.icon-bar{
  background: #FEBA27;
}


#brand_name{
  font-family: Retrofunkscript;
  color: white;
  font-size: 40px;
  padding-left: 10px;
  padding-top: 5px;
  pointer-events: none;
}


#home{
  color: white;
  background-color: #FEBA27;
  font-size: 20px ;
  margin-left:100px ;
  margin-top: 10px;
}


.line{
  border-style: inset; 
  border-width: 2px;
  border-color: #E8E8E8;
  width: 90%;
}


#tog_but{
  background-color: white;
  margin-top: 17px;
}



.state-name{
  font-family:VeganStyle;
  font-size:40px;
  margin-bottom: 30px;
}


img{
  width: 200px;
  height: 200px;
  padding-right: 2px;
}


ul{
  list-style: none;
  text-align:center;
}

ul{
    margin-left: -60px;
}


#list li {
    display: inline;
}

.tags{
  font-size: 40px;
  margin-right: 50px; 
  margin-left: -159px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#main_count{
  margin-bottom: 30px;
}


#india{
  width: 220px;
  height: 80px;
}

#tot{
  font-family: Arial;
  font-size: 30px;
}


.search{
  width: 460px;
  margin: 50px auto;
  box-shadow: 0 0 0 2px #FEBA27;
}

#src{
  width: 40px;
  height: 40px;
}

#search_input{
  height: 40px;
  width: 400px;
  text-align: center;
  text-indent: 40px;
  outline: none;
  border: none;
  font-size: 20px;
}

button{
  background-color: transparent;
  outline: none;
  border: none;
}



@media(max-width: 1000px){
  #brand_name{
    padding-left: 20px;
    padding-top: 5px;
  }
  #home{
    float: right;
  }

}


@media(max-device-width: 500px){
  body{
    height:1650px;
  }
  #brand_name{
    padding-left: 20px;
    padding-top: 5px;
    font-size: 35px;
  }
  #tog_but{
    margin-top: 10px;
  }
  .state-name{
    font-size:30px;
    margin-bottom: 20px;
  }
  table{
    width: 90%;
  }
  
  .tags{
    font-size: 20px;
    margin-right: 20px; 
    margin-left: -90px;
  }
  ul{
    margin-left: -40px;
  }
  img{
    width: 100px;
    height: 100px;
  }
  #india{
    width: 130px;
    height: 50px;
  }
  #search_input{
    width: 82%;
    text-align: left;
    text-indent: 10px;
  }
  .search{
    width: 90%;
  }


}

@font-face {
  font-family: Retrofunkscript;
  src: url('fonts/Retrofunkscript.otf');

}


@font-face {
  font-family: VeganStyle;
  src: url('fonts/VeganStyle.ttf');

}

