{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Andhra Pradesh</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/states.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar">
    <div class="container-fluid">
      <p id="brand_name">Covid19 Live</p>
    </div>
  </nav>
  <div class="container" align="center">
    <p class="state-name">Andhra Pradesh</p>
    <img alt="India Andhra Pradesh COVID-19 map.svg"
      src="//upload.wikimedia.org/wikipedia/commons/thumb/4/41/India_Andhra_Pradesh_COVID-19_map.svg/220px-India_Andhra_Pradesh_COVID-19_map.svg.png"
      decoding="async"
      srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/41/India_Andhra_Pradesh_COVID-19_map.svg/330px-India_Andhra_Pradesh_COVID-19_map.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/41/India_Andhra_Pradesh_COVID-19_map.svg/440px-India_Andhra_Pradesh_COVID-19_map.svg.png 2x"
      data-file-width="2749" data-file-height="2363" width="220" height="189"></br>
    <img src="{% static 'css/images/live_icon.gif' %}" style="margin-top: 30px" width="100" height="50">
    <!--Table containing all counts-->
    <table>
      <tr>
        <td class="lab">Confirmed Cases</td>
        <td class="val">{{conf_cases}}</td>
      </tr>
      <tr>
        <td class="lab">Active Cases</td>
        <td class="val">{{act_cases}}</td>
      </tr>
      <tr>
        <td class="lab">Recovered</td>
        <td class="val" style="color: green">{{rec_cases}}</td>
      </tr>
      <tr>
        <td class="lab">Deaths</td>
        <td class="val" style="color: red"><strong>{{deaths}}</strong></td>
      </tr>
      <tr>
        <td class="lab">Fatality Rate</td>
        <td class="val">{{fatality}}</td>
      </tr>
    </table>
    <a id="website" href="http://hmfw.ap.gov.in/covid_dashboard.aspx">hmfw.ap.gov.in/covid_dashboard.aspx</a>
  </div>
</body>

</html>