{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{state | title}}</title>
  <meta name="theme-color" content="#8C81D3">
  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/states.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar">
    <div class="container-fluid">
      <p id="brand_name">Covid19 Live</p>
    </div>
  </nav>
  <div class="container" align="center">
    <p class="state-name">{{state | title}}</p>
    <div id="img"></div>
    <script>
      let content = '{{img}}'.replaceAll("&lt;", "<").replaceAll("&gt;", ">").replaceAll("&quot;", "\"")
      document.getElementById('img').innerHTML = content
      console.log(content)
    </script>
    <br>
    <img src="{% static 'css/images/live_icon.gif' %}" style="margin-top: 30px" width="100" height="50">
    <!--Table containing all counts-->
    <table style="font-family: Roboto">
      <tr>
        <td class="lab">Confirmed Cases</td>
        <td class="val">{{confirmed}}</td>
      </tr>
      <tr>
        <td class="lab">Active Cases</td>
        <td class="val">{{active}}</td>
      </tr>
      <tr>
        <td class="lab">Recovered</td>
        <td class="val" style="color: green">{{recovered}}</td>
      </tr>
      <tr>
        <td class="lab">Deaths</td>
        <td class="val" style="color: red"><strong>{{deaths}}</strong></td>
      </tr>
      <tr>
        <td class="lab">Fatality Rate</td>
        <td class="val">{{fatality_rate}}</td>
      </tr>
    </table>
  </div>
</body>

</html>