{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>COVID19 LIVE</title>
  <meta name="theme-color" content="#8C81D3">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/loading.css' %}">
  <script type="text/javascript" src="{% static 'JS/match.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <div class="loader">
      <img oncontextmenu="return false" src="{% static 'loading.gif' %}" alt="loading...">
    </div>
    <script src="{% static 'JS/loading.js' %}"></script>

    <header
      style="position:  fixed; background-color:  #FEBA27; width: 100%; top: 0; left: 0; height: 70px; z-index: 999;">
      <p id="bname">Covid19 Live</p>
      <button onclick="SetDayNight()" id="mode_button">
        <img id="moon_icon" style="position: absolute; right: 10px;"
          src="https://img.icons8.com/emoji/96/000000/new-moon-emoji.png" />
        <img id="sun_icon" style="position: absolute; right: 10px;display: none;"
          src="https://img.icons8.com/fluent/144/000000/sun.png" />
      </button>
    </header>

    <div class="search" style="margin-top: 120px">
      <i onclick="scrollWin()" id="search_icon" class="fa fa-search" aria-hidden="true"></i>
      <input type="text" id="search_input" placeholder="" autocomplete="off" name="search">
      <i onclick="Clear()" style="display: none;" id="close_icon" class="fa fa-times-circle"></i>
      <ul style="width: 100%; margin-left: 0; font-size: 20px;" class="list-group" id="list"></ul>
      <script>
        var j = 0;
        var places = [
          'Jharkhand', 'Karnataka', 'Kerala', 'Telangana', 'Manipur', 'Madhya Pradesh', 'Maharashtra', 'Mizoram',
          'Nagaland', 'Orissa', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Meghalaya', 'Andhra Pradesh',
          'Uttarakhand', 'Uttar Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chattisgarh', 'Delhi', 'Goa',
          'Gujarat', 'Haryana', 'Himachal Pradesh', 'Tripura', 'West Bengal'
        ];


        function Clear() {
          document.getElementById('search_input').value = "";
          clearList();
        }

        function CheckInput() {
          var val = document.getElementById('search_input').value;
          var close = document.getElementById('close_icon').style;
          if (val.length != 0) {
            close.display = "block";
          } else {
            close.display = "none";
          }
        }
        setInterval(CheckInput)

        setInterval(() => {
          if (j < places.length) {
            let ph = document.getElementById('search_input');
            ph.placeholder = places[j];
            j++;
          } else {
            j = 0;
          }
        }, 2000);
      </script>
    </div>

    <div align="center">
      <img id="india" oncontextmenu="return false" src="{% static 'css/images/india.png' %}">
      <p><strong id="tot">Total</strong></p>
    </div>

    <ul>
      <li>
        <div style="background-color: #b376ff;">
          <p><strong>{{confirmed}}</strong></p>
          <p class="cap">Confirmed</p>
        </div>
      </li>

      <li>
        <div style="background-color: #588FCC;">
          <p><strong>{{active}}</strong></p>
          <p class="cap">Active</p>
        </div>
      </li>

      <li>
        <div style="background-color: #80CE5D;">
          <p><strong>{{recovered}}</strong></p>
          <p class="cap">Recovered</p>
        </div>
      </li>

      <li>
        <div style="background-color: #DC7181;">
          <p><strong>{{deaths}}</strong></p>
          <p class="cap">Deaths</p>
        </div>
      </li>

      <li>
        <div style="background-color: #5FD0A5;">
          <p><strong>{{fatality_rate}}</strong></p>
          <p class="cap">Fatality Rate</p>
        </div>
      </li>

    </ul>

    <div align="center" style="  margin-bottom: 70px;">
      <p style="color: red;" id="tag_war"></p>
    </div>


    <div class="row">
      <div id="col1">
        <table id="tab" align="right">
          <tr>
            <th>State/UT</th>
          </tr>
          <script>
            var names = ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chattisgarh', 'Delhi', 'Goa',
              'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka', 'Kerala',
              'Madhya Pradesh', 'Maharashtra',
              'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Orissa', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
              'Telangana', 'Tripura', 'Uttarakhand', 'Uttar Pradesh', 'West Bengal'
            ]
            for (let i = 0; i < names.length; i++) {
              let table = document.getElementById('tab');
              let tr = document.createElement('tr');
              let td = document.createElement('td');
              td.innerHTML = names[i];
              if (i % 2 == 0)
                td.setAttribute("class", "even_td")
              else
                td.setAttribute("class", "odd_td")
              td.style.textAlign = "left";
              td.style.marginLeft = "3px";
              tr.appendChild(td);
              table.appendChild(tr);
            }
          </script>
        </table>
      </div>


      <div id="col2" align="left">
        <div id="col2_div">
          <table id="tab">
            <tr>
              <th>Confirmed</th>
              <th>Active</th>
              <th>Recovered</th>
              <th>Deaths</th>
              <th>Rate</th>
            </tr>
            <tr>
              {% for elem in AP %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in AR %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in AS %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in BR %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in CG %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in DL %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in GA %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in GJ %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in HR %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in HP %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in JS %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in KA %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in KL %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in MP %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in MH %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in MN %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in ML %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in MZ %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in NL %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in OR %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in PB %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in RJ %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in SK %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in TN %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in TS %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in TR %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in UK %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in UP %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>

            <tr>
              {% for elem in WB %}
              <td>{{elem}}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
    </div>
    <footer>
      <a target="_blank" href="https://github.com/BryanCaldeira"><img style="margin-right: 15px;"
          src="https://img.icons8.com/material-outlined/208/000000/github.png" /></a>
      <a target="_blank" href="https://api-covidlive.herokuapp.com/"><img style="margin-right: 15px;"
          src="https://img.icons8.com/ios-filled/100/000000/api.png" /></a>
    </footer>

    <script src="{% static 'JS/day-night-mode.js' %}"></script>
    <script src="{% static 'JS/search-auto.js' %}"></script>
  </div>
</body>

</html>