{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kerala</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/states.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <p id="brand_name">Covid19 Live</p>
      </div>
    </nav>
    <div class="container" align="center">
      <p class="state-name">Kerala</p>
      <img alt="Kerala-Covid-19-Total-Cases-Map.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/99/Kerala-Covid-19-Total-Cases-Map.svg/220px-Kerala-Covid-19-Total-Cases-Map.svg.png" decoding="async" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/99/Kerala-Covid-19-Total-Cases-Map.svg/330px-Kerala-Covid-19-Total-Cases-Map.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/99/Kerala-Covid-19-Total-Cases-Map.svg/440px-Kerala-Covid-19-Total-Cases-Map.svg.png 2x" data-file-width="1429" data-file-height="2500" width="220" height="385"></br>
      <img src="{% static 'css/images/live_icon.gif' %}" style="margin-top: 30px" width="100" height="50">
      <table>
        <tr>
          <td class="lab">Confirmed Cases</td>
          <td class="val">{{conf_cases}}</td>
        </tr>
        <tr>
          <td class="lab">Active Cases</td>
          <td class="val">{{act_cases}}</td>
        </tr>
        <tr>
          <td class="lab">Recovered</td>
          <td class="val" style="color: green">{{rec_cases}}</td>
        </tr>
        <tr>
          <td class="lab">Deaths</td>
          <td class="val" style="color: red">{{deaths}}</td>
        </tr>
        <tr>
          <td class="lab">Fatality Rate</td>
          <td class="val">{{fatality}}</td>
        </tr>
      </table>
      <a id="website" href="https://dashboard.kerala.gov.in/">dashboard.kerala.gov.in</a>
    </div>
  </body>
</html>